.product-card {
  width: $card-width;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid $card-border-color;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    width: 160px;
    height: 134px;

    margin: 15px auto 45px;

    transition: transform 400ms;

    &:hover {
      box-sizing: initial;
      padding: 12px 0;
      margin-top: 0;
      margin-bottom: 30px;

      transform: scale(1.2);

      border: 3px solid $card-border-color;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;

    margin: 0 auto 6px;
  }

  &__feedbacks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin: 15px 0 20px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin-bottom: 20px;
  }

  &__price-value {
    font-weight: 600;
    font-size: 16px;
  }

  &__buy-button {
    height: 40px;
    border-radius: 5px;
    background-color: $main-color;

    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 0.8s;

    &:hover {
      background-color: white;
      color: $main-color;
      border: 1px solid $main-color;
    }
  }
}
